<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        A Dream of the Future (of JavaScript)
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>This example uses Babel.js to implement next generation JavaScript features.</p>
    </main>
  </body>
</html>
